@import url('https://fonts.googleapis.com/css?family=Handlee');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(226, 224, 235);
    color: black;
    text-decoration-color: black;
    background-image: url(ti.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100vh;
}

#container {
    height: 100vh;
    width: 98vw;
    display: grid;
    grid-template-columns: 1fr 7fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-areas: ". . ." ". formulário ." ". . .";
}

form {
    grid-area: formulário;
    display: grid;
    justify-content: space-around;
    font-size: 1.1em;
    opacity: 0.9;
    margin: 0 auto;
    padding: 5px;
    background-color: white;
    height: 700px;
    width: 60vw;
    border-radius: 0 px;
    border-color: white;
    grid-template-rows: 1fr 1fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr 1fr 2fr 1fr 2fr 1fr 1fr;
    grid-template-areas: "titulo" "descricao" "label1" "select1" "label2" "select2" "label3" "select3" "label4" "solucao" "." "button" "resultado" "tema" "footer";
}

.titulo {
    grid-area: titulo;
    text-align: center;
    height: 50px;
}

.descricao {
    grid-area: descricao;
    text-align: center;
    padding: 20px;
    height: 50px;
}

.label1 {
    grid-area: label1;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.label2 {
    grid-area: label2;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.label3 {
    grid-area: label3;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.label4 {
    grid-area: label4;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.input_equipamento,
.select1 {
    grid-area: select1;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.input_problema_primario,
.select2 {
    grid-area: select2;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.input_problema_secundario,
.select3 {
    grid-area: select3;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.input_solucao,
.vazio {
    grid-area: solucao;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.botao {
    grid-area: button;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.resultado {
    grid-area: resultado;
    justify-content: space-around;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-style: bold;
    font-weight: normal;
    font-size: 17pt;
}

.rodape {
    text-align: center;
    grid-area: footer;
    justify-content: space-around;
}

input {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11pt;
    width: 92.5%;
    margin: 0 auto;
    border-radius: 3px;
    height: 25px;
    border-style: solid;
    border-color: black;
    background-color: #fafafa;
    border-width: 1px;
    margin: 50 0;
    padding: 10px;
}

select {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11pt;
    width: 92.5%;
    margin: 0 auto;
    border-radius: 3px;
    height: 40px;
    border-style: solid;
    border-color: black;
    background-color: #fafafa;
    border-width: 1px;
    margin: 50 0;
    padding: 10px;
}

button {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12pt;
    width: 45%;
    height: 50px;
    margin: 0 auto;
    border-radius: 3px;
    border-style: solid;
    border-color: black;
    background-color: #fafafa;
    border-width: 1px;
    padding: 4px;
}

label,
a {
    border-color: transparent;
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11pt;
    width: 90%;
    margin: 0 auto;
    border-radius: 3px;
    height: 20px;
    border-style: solid;
    background-color: #fafafa;
    border-width: 1px;
    margin: 50 0;
    padding: 10px;
}

h1,
h3,
h4,
p {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
}